/**
 * @name nordDiscord-Darker
 * @description A dark Discord palette conversion to arcticicestudio's NordTheme. Uses mwittrien's DiscordRecolor CSS as a base with our own additions.
 * @author izutsumi, IDislikeChair, mwittrien
 * @version 1.0.1
 * @website https://github.com/izutsumi/nordDiscord

 */

/* DiscordRecolor CSS by mwittrien */
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css");
/* Nord Highlight.js */
@import url("https://unpkg.com/nord-highlightjs@0.1.0/dist/nord.css");
/* RadialStautus */
/* @import url("https://discordstyles.github.io/RadialStatus/base.css"); */


:root {
	/* Variables from DiscordRecolor. RGBA values only. */
	--accentcolor : 94,  129, 172;
	--linkcolor   : 136, 192, 208;
	--mentioncolor: 136, 192, 208;
	
	--textbrightest: 236, 239, 244;
	--textbrighter : 229, 233, 240;
	--textbright   : 216, 222, 233;
	--textdark     : 216, 222, 233;
	--textdarker   : 130, 148, 182;
	--textdarkest  : 76,  86,  106;

	--backgroundaccent      : 59, 66, 82;
	--backgroundprimary     : 46, 52, 64;
	--backgroundsecondary   : 46, 52, 64;
	--backgroundsecondaryalt: 46, 52, 64;
	--backgroundtertiary    : 59, 66, 82;
	--backgroundfloating    : 37, 41, 50;
	
	
	/* Radial Status variable */
	--rs-small-spacing  : 1px;            /* spacing between avatar and status */
	--rs-large-spacing  : 3px;            /* spacing between avatar and status for user popouts & modals/profiles */
	--rs-width          : 2px;            /* Width/thickness of status border */
	--rs-avatar-shape   : 50%;            /* 50% for round - 0% for square */
	--rs-online-color   : var(--nord14);  /* color for online status */
	--rs-idle-color     : var(--nord13);  /* color for idle status */
	--rs-dnd-color      : var(--nord11);  /* color for dnd status */
	--rs-offline-color  : var(--nord3);   /* color for offline status */
	--rs-streaming-color: var(--nord15);  /* color for streaming status */
	--rs-invisible-color: var(--nord3);   /* color for invisible status - Note this will only show for your own invisibility */
	
	
	/* Nord color scheme */
	--nord0    : #2e3440;
	--nord1    : #3b4252;
	--nord2    : #434c5e;
	--nord3    : #4c566a;
	--nord4    : #d8dee9;
	--nord5    : #e5e9f0;
	--nord6    : #eceff4;
	--nord7    : #8fbcbb;
	--nord8    : #88c0d0;
	--nord9    : #81a1c1;
	--nord10   : #5e81ac;
	--nord11   : #bf616a;
	--nord12   : #d08770;
	--nord13   : #ebcb8b;
	--nord14   : #a3be8c;
	--nord15   : #b48ead;
	--nordBlack: #252932;
}

/* Change scroll bar color */
.theme-dark, .theme-light {

	--scrollbar-thin-thumb                : var(--nord1);
	--scrollbar-thin-track                : transparent;
	--scrollbar-auto-thumb                : var(--nord1);
	--scrollbar-auto-track                : transparent;
	--scrollbar-auto-scrollbar-color-thumb: var(--nord1);
	--scrollbar-auto-scrollbar-color-track: transparent;
}

/* Discord logo */
.da-wordmark path,
div[class*="wordmark"] path {
	fill: var(--nord4);
}

/* Message search bar */
.da-searchBar,
div[class*="searchBar"] {
	background-color: var(--nord0);
}

/* Server list */
.da-tree > .da-scroller, 
ul[class*="tree"] > div[class*="scroller"] {
	background-color: var(--nordBlack);
}

/* Title bar */
.da-titleBar, 
div[class*="titleBar"] {
	background-color: var(--nordBlack) !important;
	padding-top     : 4px;
	margin-top      : 0;
}

.da-bg, 
div[class*="bg"] {
	background-color: var(--nordBlack) !important;
}

/* Mac style buttons */
/* ! The clickable area is too small. */
.da-winButton,
div[class*="winButton"] {
	color        : transparent;
	height       : 10px;
	width        : 10px;
	border-radius: 50%;
	margin-top   : 5px;
	margin-right : 10px;
	margin-left  : 10px;

	transition: .2s;
}

.da-winButtonMinMax[aria-label="Minimize"],
div[class*="winButtonMinMax"][aria-label="Minimize"] {
	background-color: var(--nord13);
}

.da-winButtonMinMax[aria-label="Maximize"],
div[class*="winButtonMinMax"][aria-label="Maximize"] {
	background-color: var(--nord14);
}

.da-winButtonClose,
div[class*="winButtonClose"] {
	background-color: var(--nord11);
	margin-right    : 25px
}

.da-winButton:hover,
div[class*="winButton"]:hover {
	color           : transparent;
	background-color: var(--nord3);
}

/* Text Highlighting Styling */
::selection {
    background-color: rgba(129, 161, 193,.5);
    color           : var(--nord4);
}

/* Mention Border */
.da-mentioned:before,
div[class*="mentioned"]:before
 {
    background-color: rgb(var(--mentioncolor));
}

/* New Messages Divider & Pill */
.da-isUnread .da-content,
div[class*="isUnread"] span[class*="content"] {
    color: var(--nord11) !important;
}

/* ? Not sure what does this do */
.da-nameWrap .da-textRow,
div[class*="nameWrap"] div[class*="textRow"]
 {
    background-color: transparent;
}

.da-isUnread,
div[class*="isUnread"] {
    border-color: var(--nord11);
}

.da-unreadPill,
span[class*="unreadPill"] {
    background-color: var(--nord11);
}

.da-unreadPillCapStroke,
path[class*="unreadPillCapStroke"] {
    color: var(--nord11);
    fill : var(--nord11);
}

/* Folder Icon and Background Colors  */
.da-expandedFolderIconWrapper path,
div[class*="expandedFolderIconWrapper"] path {
    fill: rgb(var(--accentcolor));
}

.da-folderIconWrapper,
div[class*="folderIconWrapper"]  {
    background-color: var(--nord0) !important;
}

/* Administrator Crown */
.da-ownerIcon,
svg[class*="ownerIcon"] {
    color: var(--nord13);
}

/* Premium Icon */
.da-premiumIcon,
svg[class*="premiumIcon"] {
	color: var(--nord15);
}

/* Add Server & Explore Buttons */
.da-circleIconButton,
div[class*="circleIconButton"] {
    color: var(--nord4);
}

.da-circleIconButton.da-selected, .da-selected .da-childWrapper,
div[class*="circleIconButton"][class*="selected"], 
div[class*="selected"] div[class*="childWrapper"] {
    background-color: var(--nord2);
}

/* New pin icon */
.da-iconBadge,
span[class*="iconBadge"] {
	background-color: var(--nord11);
}

/* Microphone and speaker mute */
.da-strikethrough,
path[class*="strikethrough"] {
	color: var(--nord11);
}

/* Status icons */
/* ! Better solution needed. The animation does not transit smoothly */
.da-avatar .da-wrapper[aria-label$="Online"] > svg > svg > rect,
.da-status[aria-label="Online"] > svg > rect,
div[class*="avatar"] div[aria-label$="Online"] > svg > svg > rect,
div[class*="status"][aria-label="Online"] > svg > rect,
rect[mask="url(#svg-mask-status-online)"] ,

.da-avatar .da-wrapper[aria-label$="mobile"] > svg > svg > rect,
.da-status[aria-label="mobile"] > svg > rect,
div[class*="avatar"] div[aria-label$="mobile"] > svg > svg > rect,
div[class*="status"][aria-label$="mobile"] > svg > rect,
rect[mask="url(#svg-mask-status-online-mobile)"] { 
	fill: var(--nord14);
}

.da-status[style="background-color: rgb(67, 181, 129);"],
div[class*="status"][style="background-color: rgb(67, 181, 129);"] {
	background-color: var(--nord14) !important;
}


.da-avatar .da-wrapper[aria-label$="Do Not Disturb"] > svg > svg > rect,
.da-status[aria-label="Do Not Disturb"] > svg > rect,
div[class*="avatar"] div[aria-label$="Do Not Disturb"] > svg > svg > rect,
div[class*="status"][aria-label="Do Not Disturb"] > svg > rect,
rect[mask="url(#svg-mask-status-dnd)"] {
	fill: var(--nord11);
}

.da-status[style="background-color: rgb(240, 71, 71);"],
div[class*="status"][style="background-color: rgb(240, 71, 71);"] {
	background-color: var(--nord11) !important;
}

.da-avatar .da-wrapper[aria-label$="Streaming"] > svg > svg > rect,
.da-status[aria-label="Streaming"] > svg > rect,
div[class*="avatar"] div[aria-label$="Streaming"] > svg > svg > rect,
div[class*="status"][aria-label="Streaming"] > svg > rect,
rect[mask="url(#svg-mask-status-streaming)"] {
	fill: var(--nord15);
}

.da-status[style="background-color: rgb(89, 54, 149);"],
div[class*="status"][style="background-color: rgb(89, 54, 149);"] {
	background-color: var(--nord15) !important;
}

.da-avatar .da-wrapper[aria-label$="Idle"] > svg > svg > rect,
.da-status[aria-label="Idle"] > svg > rect,
div[class*="avatar"] div[aria-label$="Idle"] > svg > svg > rect,
div[class*="status"][aria-label="Idle"] > svg > rect,
rect[mask="url(#svg-mask-status-idle)"] {
	fill: var(--nord13);
}

.da-status[style="background-color: rgb(250, 166, 26);"],
div[class*="status"][style="background-color: rgb(250, 166, 26);"] {
	background-color: var(--nord13) !important;
}

.da-avatar .da-wrapper[aria-label$="Invisible"] > svg > svg > rect,
div[class*="avatar"] div[aria-label$="Invisible"] > svg > svg > rect,
div[class*="status"][aria-label="Invisible"] > svg > rect,
rect[mask="url(#svg-mask-status-invisible)"],

.da-avatar .da-wrapper[aria-label$="Offline"] > svg > svg > rect,
div[class*="avatar"] div[aria-label$="Offline"] > svg > svg > rect,
div[class*="status"][aria-label="Offline"] > svg > rect,
rect[mask="url(#svg-mask-status-offline)"] {
	fill: var(--nord3);
}

.da-status[style="background-color: rgb(116, 127, 141);"],
div[class*="status"][style="background-color: rgb(116, 127, 141);"] {
	background-color: var(--nord3) !important;
}

div[class*="divider"] {
	background-color: transparent !important;
}

.lookFilled-1Gx00P.colorGreen-29iAKY {
   background-color: #5e81ac
 } 
  
 .lookFilled-1Gx00P.colorGreen-29iAKY:hover {
   background-color: #81a1c1
 }
